:root {
  --code-qr-border-color        : #dbe4ff;
  --code-qr-border-color-before : #ffffff;
}

[data-pc-theme=dark] {
  --code-qr-border-color        : #263240;
  --code-qr-border-color-before : #1b232d;
}

.code-qr {
  border         : 1px solid var(--code-qr-border-color);
  display        : inline-block;
  padding        : 0;
  position       : relative;
  vertical-align : top;

  &:before {
    border        : 1px solid var(--code-qr-border-color-before);
    border-radius : 10%;
    content       : "";
    height        : calc(100% + 2px);
    left          : -1px;
    position      : absolute;
    top           : -1px;
    width         : calc(100% + 2px);
  }

  svg {
    margin     : 10px;
    min-height : 250px;
    min-width  : 250px;
  }
}

pre {
  border-radius : 4px;
  line-height   : 25px;
  margin-bottom : 0 !important;
  padding       : 15px;
}

.datatable-dropdown {
  display : none;
}

.datatable-bottom {
  margin-bottom : 15px;
}